# **THEORY QUESTIONS**

**1) What are data structures, and why are they important?**

Ans: Data Structure is way of an oraganising and storing data. So that it can be accesse and manupulate easily and effectively. String, List, Set, Tuple, Dictionary and array are the data structures of Python.




**2) Explain the difference between mutable and immutable data types with examples?**

Ans: Data structure which can not be edited i.e. elements in it can not be removed or new elements can not be added in it. Such data structure are called as immutable data structure. tuples and strings are immutable data types.
Data structure which can be edited i.e. elements in it can be removed or new elements can be added in it. such data structure are called as mutable data structure. list and set are mutable data structure.




**3) What are the main differences between lists and tuples in Python
?**

Ans: Lists are the ordered collection of heterogeneous data. Lists are mutable. It is represented by [ ].
Tuples are ordered collection of heterogeneous data. Tuples are immutable. It is represented by ( ).




**4) Describe how dictionaries store data?**

Ans: Dictionaries stores data in the form of key value pairsl. Here keys are acts as indices.
for e.g.
Phone_book= {'Dad':1232445, 'Mom':'5485792}




**5) Why might you use a set instead of a list in Python?**

Ans: Sets are unordered collection of unique elements whereas lists are ordered collection of heterogenous data. In sets we get unique values that's why we use it in the data when while storing data the chances of repeatation of elements is high but we want that each element should occur only once in output, for example grocery list example.




**6) What is a string in Python, and how is it different from a list?**

Ans: Lists are the ordered collection of heterogenous data and it is represented by [ ] whereas strings are similar to list, it is an ordered collection of hemogenous data and it is represented by ' '. strings are the sequence of characters where each character is a unit of text, to represent and manipulate textual data.




**7) How do tuples ensure data integrity in Python?**

Ans: Tuples ensures data integrity through their immutability. Once tuple is created it can not be edited i.e. any element can not added or any element can not be eliminated, which prevents accidental changes and ensures data remains consistents throughtout it's use.




**8) What is a hash table, and how does it relate to dictionaries in Python?**

Ans: Data in dictionaries are stored as key-value paires using hash table, where keys are works as indices and values are works as normal storing data in memory. In dictionareis, data is accessed by using key.
when you want to store a a key-value pair in a dictionary, python uses a speacial function called a hash function. This function takes the key and calculates a unique numerical index like a file number in our cabinet. This index tells python where to store the value.




**9) Can lists contain different data types in Python?**

Ans: Yes, lists can contain different data types in python as lists are ordered collection of heterogenous data.




**10) Explain why strings are immutable in Python?**

Ans: when strings are created in python for e.g. like a="Hello" then it will be stored as ("H", "e", "l", "l", "o") in memory block and let's say you are again defining a new string as b="Hello" in python, it will also store data like previous one but rather than creating completely new memory block in python a and b is assigned to same memory block ("H", "e", "l", "l", "o") to save memory space. Suppose, if strings are mutable and if you are making changes in a string then it will cause problem for b also. So, strings are immutable. We use replace function in string, but in that we are not editing but instead we are defining new string in memory space.




**11) What advantages do dictionaries offer over lists for certain tasks?**

Ans: You can use dictionaries when you need to store data with associated information like phone book(name and phone number), product catalog (product ID and details) and student database (student ID and grades), but when you try to store this type of data in lists it will difficult for you to retrieve data, not properly organised. whereas if you stores such data in dictionaries you can store information about books like author name, pub data or even a short summary of  the book as a value and can accessed it by defining book number or book name as key. Every book will have unique key and values and it can be retrieve easily.




**12) Describe a scenario where using a tuple would be preferable over a list?**

Ans: You can use tuple over list when you large data set and it should not be edited like adhaar number details of individual.




**13) How do sets handle duplicate values in Python?**

Ans: Sets are unordered collection of unique elements. That's why even if you repeat any element in it and execution it will not occure multiple times in set. It treats it as a same value and occurs only once in set after execution.




**14) How does the “in” keyword work differently for lists and dictionaries?**

Ans: In lists if you want to search any element to know whether it is present or not. You will directly search using element in list whereas in dictories you will use key as key in dictionary. If it is present it will show true and if not it will show false.
for e.g.
list
book_shelf=["Harry Potter", "Lord of rings", "adventure of tintin"]

"Harry Potter" in book_shelf

output: True

Dictionary
card={"123":"Harry Potter", "345":"Lord of rings", "678":"adventure of tintin"}

"123" in card

output: True




**15) Can you modify the elements of a tuple? Explain why or why not?**

Ans: No, tuples are immutable can not be modified. Immutibility provides data integrity, allows for hashing and better performance.




**16) What is a nested dictionary, and give an example of its use case?**

Ans: Nested dictionary are dictionary in dictionary.

for e.g.:

students={"ID_01":{"name":"raaj", "course":"DS", "Pay_status":"Paid"}, "ID_02":{"name":"reem", "course":"DA", "Pay_status":"NA"}}




**17) Describe the time complexity of accessing elements in a dictionary?**

Ans: We use hash table to store data in memory for dictionary. when we want to access a value using it's key. Python applies same hash function to the key to get the index and then it goes directly to the index in the hash table and retrieves the value. It is direct look up methods, regardless how many items are in dictionary, it will mostly take constant time.




**19) In what situations are lists preferred over dictionaries?**

Ans: Lists are preferred over dictionaries where order does matter, where we can have duplicate values, can access it by it's position and also can get the data in the order they were added (iteration ordering) whereas in dictionaries order doesn't matter, were we have unique key values, cannot access it by it's postion.




**20) Why are dictionaries considered unordered, and how does that affect data retrieval?**

Ans: Even if dictionaries are unordered, it will not affect data retrieval as key here used as a index and key is unique for each values.
e.g.:

Dictionary

dic={"123":"Harry Potter", "345":"Lord of rings"}

dic["123"]

output: 'Harry Potter'




**21) Explain the difference between a list and a dictionary in terms of data retrieval?**

Ans: In list index are used to retriev data whereas in dictionary we used key as index to retriev data.
e.g.

list

lis=[1,2,3,"reem"]

lis[0]

output: 1

Dictionary

dic={"123":"Harry Potter", "345":"Lord of rings"}

dic["123"]

output: 'Harry Potter'

In [ ]:
#PRACTICAL QUESTIONS
#O1) Write a code to create a string with your name and print it?
name="reem"
print(name)

reem

In [ ]:
#02) Write a code to find the length of the string "Hello World"?
name="Hello World"
len(name)

11

In [ ]:
#03) Write a code to slice the first 3 characters from the string "Python Programming"?
str1="Python Programming"
str1[0:4]

'Pyth'

In [ ]:
#04) Write a code to convert the string "hello" to uppercase?
str1="hello"
str1.upper()

'HELLO'

In [ ]:
#05) Write a code to replace the word "apple" with "orange" in the string "I like apple"?
exm="I like apple"
exm.replace('apple', 'orange')

'I like orange'

In [ ]:
#06) Write a code to create a list with numbers 1 to 5 and print it?
lis=[1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
#07) Write a code to append the number 10 to the list [1, 2, 3, 4]?
lis=[1,2,3,4]
lis.append(10)
lis

[1, 2, 3, 4, 10]

In [ ]:
#08) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
lis=[1,2,3,4,5]
lis.pop(2)

3

In [ ]:
#09) Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
lis=['a', 'b', 'c', 'd']
lis[1]

'b'

In [ ]:
#10) Write a code to reverse the list [10, 20, 30, 40, 50]?
lis=[10,20,30,40,50]
lis[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11) Write a code to create a tuple with the elements 10, 20, 30 and print it?
tuple_1=(10,20,30)
print(tuple_1)

(10, 20, 30)

In [ ]:
#12) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?
tuple_2=('apple', 'banana', 'cherry')
tuple_2[0]

'apple'

In [ ]:
#13) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?
tuple_3=(1,2,3,2,4,2)
tuple_3.count(2)

3

In [ ]:
#14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
tuple_4=('dog', 'cat', 'rabbit')
tuple_4.index("cat")

1

In [ ]:
#15) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?
tuple_5=('apple', 'orange', 'banana')
'banana' in tuple_5

True

In [ ]:
#16) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?
set_ex={1,2,3,4,5}
print(set_ex)

{1, 2, 3, 4, 5}

In [ ]:
#17) Write a code to add the element 6 to the set {1, 2, 3, 4}?
set1={1,2,3,4}
set1.add(6)
set1

{1, 2, 3, 4, 6}

In [ ]:
#18) Write a code to create a tuple with the elements 10, 20, 30 and print it?
tuple_ex=(10,20,30)
print(tuple_ex)

(10, 20, 30)

In [ ]:
#19) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?
tuple_0=('apple', 'banana', 'cherry')
tuple_0[0]

'apple'

In [ ]:
#20) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?
tuple_8=(1,2,3,2,4,2)
tuple_8.count(2)

3

In [ ]:
#21) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
tuple_6=('dog', 'cat', 'rabbit')
tuple_6.index("cat")

1

In [ ]:
#22) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?
tuple_6=('apple', 'orange', 'banana')
'banana' in tuple_6

True

In [ ]:
#23) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?
set_2={1,2,3,4,5}
print(set_2)

{1, 2, 3, 4, 5}

In [ ]:
#24) Write a code to add the element 6 to the set {1, 2, 3, 4}?
set_3={1,2,3,4}
print(set_3)

{1, 2, 3, 4}